.dash-container {
    display: flex;
    height: 100vh; /* Full viewport height */
}

.main-content {
    flex-grow: 1; /* Take up the remaining space */
    background-color: #000000; /* Light gray background for contrast */
}
